# Программа для подбора еды

In [193]:
from random import choices
import pandas as pd
pd.options.display.max_colwidth = 100

In [376]:
df = pd.read_csv('food_data.csv', index_col=0)

In [377]:
# df.to_csv('food_data.csv')

In [439]:
food = df.sample(1, weights=df.preference)
display(food.T)

                                                       14
name            Овсяная каша на воде с фруктами и орехами
price                                                 100
category                                        breakfast
preference                                             20
place_of_order                                own_cooking
healthy                                                 1