# Программа для подбора еды

In [48]:
from random import choices
import pandas as pd
pd.options.display.max_colwidth = 100
pd.set_option('display.max_rows', None)

- `breakfast` - распределение 700/300
- `salad` - распределение 100
- `soup` - распределение 100
- `second` - распределение 100
- `meat` - распределение 100
- `side_dish` - распределение 100
- `junk_food` - распределение 100

In [313]:
df = pd.read_csv('food_data.csv', index_col=0)

In [312]:
# df.to_csv('food_data.csv')

## Завтрак

In [432]:
delivery = choices(['home', 'not_home'], weights=[90, 10])[0]

if delivery == 'home':
    mask = (df['category'] == 'breakfast') & (df['place_of_order'] != 'spar')
else:
    mask = (df['category'] == 'breakfast') & (df['place_of_order'] == 'spar')
breakfast = df[mask].sample(1, weights=df[mask].preference)
display(breakfast.T)

                                                       14
name            Овсяная каша на воде с фруктами и орехами
price                                                 100
category                                        breakfast
preference                                            150
place_of_order                                own_cooking
healthy                                                 1

## Ужин

In [444]:
delivery = choices(['home', 'not_home'], weights=[80, 20])[0]
healthy = choices(['healthy', 'not_healthy'], weights=[95, 5])[0]
shop = choices(['yandex', 'vkusvill'], weights=[50, 50])[0]
set_ = choices(['soup+salad', 'second+salad'], weights=[30, 70])[0]

if delivery == 'home':
    if healthy == 'healthy':
        if shop == 'yandex':
            mask_1 = (df['category'] == 'salad') & (df['place_of_order'] == 'yandex_shop')
            if set_ == 'second+salad':
                mask_2 = (df['category'] == 'second') & (df['place_of_order'] == 'yandex_shop')
            else:
                mask_2 = (df['category'] == 'soup') & (df['place_of_order'] == 'yandex_shop')
        else:
            mask_1 = (df['category'] == 'salad') & (df['place_of_order'] == 'vkusvill')
            if set_ == 'second+salad':
                mask_2 = (df['category'] == 'second') & (df['place_of_order'] == 'vkusvill')
            else:
                mask_2 = (df['category'] == 'soup') & (df['place_of_order'] == 'vkusvill')
        dinner_1 = df[mask_1].sample(1, weights=df[mask_1].preference)
        dinner_2 = df[mask_2].sample(1, weights=df[mask_2].preference)
        display(dinner_1.T, dinner_2.T)
    else:
        mask = (df['category'] == 'junk_food') & (df['place_of_order'] == 'yandex_eat')
        dinner = df[mask].sample(1, weights=df[mask].preference)
        display(dinner.T)
else:
    mask_1 = (df['category'] == 'salad') & (df['place_of_order'] == 'spar')
    mask_2 = (df['category'] == 'meat') & (df['place_of_order'] == 'spar')
    mask_3 = (df['category'] == 'side_dish') & (df['place_of_order'] == 'spar')
    dinner_1 = df[mask_1].sample(1, weights=df[mask_1].preference)
    dinner_2 = df[mask_2].sample(1, weights=df[mask_2].preference)
    dinner_3 = df[mask_3].sample(1, weights=df[mask_3].preference)
    display(dinner_1.T, dinner_2.T, dinner_3.T)

                             38
name            Салат Коул-слоу
price                       119
category                  salad
preference                   25
place_of_order      yandex_shop
healthy                       1

                                    39
name            Куриный бульон с яйцом
price                              205
category                          soup
preference                          33
place_of_order             yandex_shop
healthy                              0